[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "~=3.2.12"
whitenoise = "~=5.3.0"
django-cors-headers = "~=3.11.0"
djangorestframework = "~=3.13.1"
django-taggit = "~=2.1.0"
django-recurrence = "~=1.11.1"
gunicorn = "~=20.1.0"
psycopg2 = "~=2.9.3"

[dev-packages]

[requires]
python_version = "3.8"

[packages.environs]
extras = [ "django",]
version = "~=9.5.0"

[packages.django-phonenumber-field]
extras = [ "phonenumberslite",]
version = "~=6.1.0"
